.job-post {
    margin-top: 1rem;
    border: 1px solid #e7e7e7;

    &__header {
        background-color: #F8F9F9;
        padding: .5rem;
    }

    &__content {
        background-color: #FDFEFE;
        padding: .5rem;
    }
}