.sign-in {
    padding: 1rem;
    margin-top: 2rem;

    &__heading { text-align: center; }

    &__form {
        margin-top: 2rem;

        &--label { font-size: $font-size-base * .9; }

        &--input {
            font-size: $font-size-base * .9;
            border: 1px solid $gray-200;
            border-radius: 0;
        }

        &--icon {
            background-color: $gray-100;
            border: 1px solid $gray-200;
            border-radius: 0;
        }

        &--submit { text-align: right; }
        &--submit-btn { padding: .5rem 1.5rem; }
    }
}