.navbar {
    background-color: $tertiary;

    &__logo {
        font-family: 'Squada One', cursive, sans-serif;
        font-size: $font-size-base * 2;
        color: #7a6a53 !important;
    }

    &__auth-nav {
        &--item {
            font-weight: bold;
            font-size: $font-size-base * .8;
            color: $black !important;
        }
    }
}