.main-jumbotron {
    background-color: $tertiary;
    padding: 5rem 0 0;
}

.search-jumbotron {
    background-color: #ffffff;
    padding: 1rem 0;
}

.job {
    margin-bottom: 1.2rem;
}

.job-skill {
    margin-right: .1rem;
    padding: .3rem .8rem;
    color: $primary;
}

.job-meta {
    margin-right: 2rem;

    &__icon {
        margin-right: .3rem;
        color: $primary;
    }
}

.row-spacing {
    margin-top: 1rem;
}

.btn-space {
    margin: 0 .5rem;
}

.section-header {
    font-family: 'Courgette', cursive, sans-serif;
    font-size: $h1-font-size * 1.2;
    margin: 5rem auto 1rem auto;
}

textarea,
input,
text,
button,
label,
.btn
{
    border-radius: 0;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
