.main-jumbotron {
    background-color: $tertiary;
    padding: 5rem 0 0;
}

.search-jumbotron {
    background-color: $tertiary;
    padding: 0;
}

.search-result {
    padding-top: 1rem;
}

.job {
    margin-bottom: 1.2rem;
}

.job-skill {
    margin-right: .1rem;
    padding: .3rem .8rem;
    color: $primary;
}

.row-spacing {
    margin-top: 1rem;
}

.btn-space {
    margin: 0 .5rem;
}

.section-header {
    margin: 5rem auto 1rem auto;

    &__title {
        font-family: 'Courgette', cursive, sans-serif;
        font-size: $h1-font-size * 1.1;
    }

    &__button {
        background-color: $primary;
        border-color: $primary;
        color: $gray-200;
        font-size: $font-size-base * .9;
        font-weight: $font-weight-base + 200;
        border-radius: .3rem !important;
        padding: .5rem 2rem;

        &:hover {
            background-color: $primary;
            color: $gray-500;
            box-shadow: 1px 1px 5px $gray-700;
            border: 1px solid $primary !important;
            cursor: pointer;
        }
    }
}

textarea,
input,
text,
button,
label,
.btn
{
    border-radius: 0;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
