@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
$body-bg: #F0F8FF;
$primary: #008080;
$secondary: #E0FFFF;
$font-family-sans-serif: "Lato", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.5;
$h2-font-size: $font-size-base * 1.3;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";

@import "./App.scss";