@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800&display=swap');
// font-family: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
// font-family: 'Courgette', cursive;

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
// font-family: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
// font-family: 'Squada One', cursive;
$body-bg: #ffffff;
$primary: #7a6a53;
$secondary: #948c75;
$tertiary: #d5ded9;
$quaternary: #d9ceb2;
$font-family-sans-serif: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.5;
$h2-font-size: $font-size-base * 1.3;
$h3-font-size: $font-size-base * 1.2;
$h4-font-size: $font-size-base * 1;
$h5-font-size: $font-size-base * .9;
$h6-font-size: $font-size-base * .8;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";

// Components SCSS Styles
@import "./components/NavigationBar/NavigationBar.scss";
@import "./components/JumbotronTitle/JumbotronTitle.scss";
@import "./components/SearchBar/SearchBar.scss";
@import "./components/CategoryItem/CategoryItem.scss";
@import "./components/JobCard/JobCard.scss";

@import "./App.scss";
@import "./containers/JobPost/JobPost.scss";
